
/**
 *   FontAwesome IE8  
 */

html.ie-force-pseudo-refresh:before,
html.ie-force-pseudo-refresh:after {
  content: none !important;
}


/**
 *   DEFINE I 
 */

.ed {
  border: 1px solid #ccc;
}

.pngimg {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
    zoom: 1;
}


/**
 *   Define II
 */

.center-to-left {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.center-to-right {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* 
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; 
  background-color: #fff;
  border: 1px solid #fff;
}
*/


/**
 *    실행시간 
 */
 
#pagecreateinfo div {
  font-size: 0.9em;
}

/**
 *  Scroll - Top 
 */
 
#scrollUp {
  bottom: 20px;
  right: 20px;
  width: 38px;
  height: 38px;
  background: url('/js/scrollup/demo/img/top.png') no-repeat;
}


/**
 * Scroll Data Loading
 */
 
#scrollpaginationdemo {


}

#scrollpaginationdemo ul {
  list-style:none;
  width:100%;
  margin:0px auto;
  padding:0px;
}

#scrollpaginationdemo ul li {
  margin:10px 0px;
  width:100%;
  background:#352828;
  padding:5px 10px;
  border-radius: 15px;
  text-shadow: 2px 1px -1px #000000;
}

#scrollpaginationdemo p {
  color: #fff;
}

.loading {
  background:#c1c39a;
  color:#303030;
  font-size:20px;
  padding:5px 10px;
  text-align:center;
  width:450px;
  margin:0px auto;
  display:none;
  border-radius: 5px;
}
