@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');


/** -----------------------------------------
 * 
 *                    HTML 
 * 
 */
 

html, body {
  font-family: 'Nanum Gothic','Pathway Gothic One','Helvetica Neue',Helvetica,Arial,sans-serif;  
}

body {
  padding-bottom: 20px;  
}

html.main body {
  padding-top: 50px;
}

html.sub body {
  padding-top: 70px;  
}


/** -----------------------------------------
 * 
 *                    MAIN 
 * 
 */

.jumbotron .h1,
.jumbotron h1 {
  font-family: 'Oswald', sans-serif;
} 



/** -----------------------------------------
 * 
 *                  Footer 
 * 
 */
 
footer img.img-logo {
    border-radius: 50%;
    width: 28%;
    border: 0 solid #1690C7;
} 

footer ul.social {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: inline-block;
}

footer ul.social li {
  float: left;  
}